<div class="container">
  <mat-card>
    <mat-card-content>
      Ez a webalkalmazás az ELTE Informatikai Kar szakdolgozati munkám keretében készült.<br>
      Kiss Gábor<br>
      kissgabi96@gmail.com<br>
      <a href="https://gitlab.com/gabor_kiss/elte" target="_blank">GitLab repository</a>
    </mat-card-content>
  </mat-card>
</div>
