<div class="container">
  <mat-card>
    <mat-card-content>

      <h6>Ha hibát fedeztél fel, vagy visszajelzésed lenne, hogy mivel lehetne jobbá tenni az alkalmazást, kérlek küldd
        el az alábbi szöveges mezőt kitöltve!</h6>

        <mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <textarea [(ngModel)]="text" matInput></textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      {{text.length}}/256<br>
      <button (click)="onSubmit()"
              mat-stroked-button
              color="primary"
              [disabled]="text.length === 0 || text.length > 256"
              class="button"
              type="submit">
        Küldés
      </button>
    </mat-card-actions>
  </mat-card>
</div>
