.container{
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 10em;
}

.mat-card{
  max-width: 700px;
}

.example-full-width {
  margin-top: 20px;
  width: 600px;
}

textarea{

  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  height: 150px;
}

@media(max-width: 992px) {
  .example-full-width{
    width: 250px;
  }
  textarea{
    height: auto;
  }
}
