<div class="container">
  <h4>Szakirány</h4>
  <mat-form-field class="select_name">
    <mat-label>Név</mat-label>
    <div class="option">
      <mat-select [(value)]="selected.majorId">
        <mat-option *ngFor="let major of majors; let i = index" [value]="i+1">
          {{major.name}} {{major.degree}} ({{major.short_name}}, {{major.year}})
        </mat-option>
      </mat-select>
    </div>
  </mat-form-field>
  <mat-form-field class="select_year">
    <mat-label>Félév</mat-label>
    <div class="option">
      <mat-select [(value)]="selected.semester">
        <mat-option *ngFor="let semester of semesters" [value]="semester">
          {{semester}}
        </mat-option>
      </mat-select>
    </div>
  </mat-form-field>
  <button (click)="sendSelected(selected)" [disabled]="selected.semester === 0 || selected.majorId === 0" color="primary"
          mat-stroked-button>Listáz
  </button>

</div>
<br>
<div class="container">
  <div *ngIf="mandatorySubjects.length > 0" class="tableDiv">
    <h4>Kötelező tárgyak</h4>
    <table>
      <thead>
      <tr>
        <th>Kód</th>
        <th>Név</th>
        <th>Típus</th>
        <th class="center_align">Kredit</th>
        <th>Előfeltétel 1</th>
        <th>Előfeltétel 2</th>
        <th class="center_align">Ajánlott félév</th>
      </tr>
      </thead>
      <tr *ngFor="let subject of mandatorySubjects">
        <td><i matTooltip="Másolás" class="material-icons" *ngIf="!!subject.code" (click)="defaultService.copyToClipboard(subject.code.toString())">file_copy</i> {{subject.code}}</td>
        <td><i matTooltip="Másolás" class="material-icons" *ngIf="!!subject.name" (click)="defaultService.copyToClipboard(subject.name.toString())">file_copy</i> {{subject.name}}</td>
        <td>{{subject.type}}</td>
        <td class="center_align">{{subject.credit}}</td>
        <td><i matTooltip="Másolás" class="material-icons" *ngIf="!!subject.prerequisite1" (click)="defaultService.copyToClipboard(subject.prerequisite1.toString())">file_copy</i>{{subject.prerequisite1}}</td>
        <td><i matTooltip="Másolás" class="material-icons" *ngIf="!!subject.prerequisite2" (click)="defaultService.copyToClipboard(subject.prerequisite2.toString())">file_copy</i>{{subject.prerequisite2}}</td>
        <td class="center_align">{{subject.recommended}}</td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td>Össz.: {{getCreditSum(this.mandatorySubjects)}}</td>
        <td colspan="3"></td>
      </tr>
    </table>
  </div>
  <br>
  <div *ngIf="!!optionalSubjects.length && (optionalSubjects.length > 0)" class="tableDiv">
    <h4>Kötelezően válaszható tárgyak</h4>
    <table>
      <tr>
        <th>Kód</th>
        <th>Név</th>
        <th>Típus</th>
        <th class="center_align">Kredit</th>
        <th>Előfeltétel 1</th>
        <th>Előfeltétel 2</th>
        <th class="center_align">Ajánlott félév</th>
      </tr>
      <tr *ngFor="let subject of optionalSubjects">
        <td><i matTooltip="Másolás" class="material-icons" *ngIf="!!subject.code" (click)="defaultService.copyToClipboard(subject.code.toString())">file_copy</i> {{subject.code}}</td>
        <td><i matTooltip="Másolás" class="material-icons" *ngIf="!!subject.name" (click)="defaultService.copyToClipboard(subject.name.toString())">file_copy</i> {{subject.name}}</td>
        <td>{{subject.type}}</td>
        <td class="center_align">{{subject.credit}}</td>
        <td><i matTooltip="Másolás" class="material-icons" *ngIf="!!subject.prerequisite1" (click)="defaultService.copyToClipboard(subject.prerequisite1.toString())">file_copy</i> {{subject.prerequisite1}}</td>
        <td><i matTooltip="Másolás" class="material-icons" *ngIf="!!subject.prerequisite2" (click)="defaultService.copyToClipboard(subject.prerequisite2.toString())">file_copy</i> {{subject.prerequisite2}}</td>
        <td class="center_align">{{subject.recommended}}</td>
      </tr>
    </table>
  </div>
  <br>
</div>
