.container {
  padding-top: 15px;
}

mat-form-field {
  padding-right: 10px;
}

.select_name {
  width: 400px;
}

.select_year {
  width: 80px;
}

@media(max-width: 992px) {
  .select_name {
    font-size: x-small;
    width: auto;
  }
}

.material-icons{
  color: grey;
  font-size: large;
}

.material-icons:hover {
  color: #434343;
  cursor: pointer;
}

table {
  font-size: small;
  border-collapse: collapse;
}

.center_align {
  text-align: center;
}

th {
  text-align: left;
  padding: 8px;
}

td {
  text-align: left;
  //padding: 16px;
    border-bottom: 1px solid #9b9b9b;

}

tr {
  height: 10px;
  overflow: hidden;
}

th {
  background-color: rgba(63, 81, 181, 0.6);
  color: white;
}
