<nav *ngIf="adalSvc.isAuthenticated" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ELTE Assistant</a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li [routerLinkActive]="['active']" class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse"
          id="navItem">
        <a class="nav-link" href="#" routerLink="home">Tervező<span class="sr-only">(current)</span></a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse">
        <a class="nav-link" href="#" routerLink="bug-report">Visszajelzés</a>
      </li>
      <li [routerLinkActive]="['active']" class="nav-item" data-target=".navbar-collapse.show" data-toggle="collapse">
        <a class="nav-link" href="#" routerLink="about">About</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <div class="user">
          {{adalSvc.userInfo.profile.name}}
          <i (click)="this.adalSvc.logout()" class="material-icons">keyboard_tab</i>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
