.active {
  background: grey;
  border-radius: 15px;
}

@media(max-width: 992px) {
  .nav-item{
    padding-left: 10px;
  }
}

.dropdown-menu.show{
  padding: 0;
  margin: 0;
  border: 0;
}

.d-inline-block{
  border-radius: 15px;
  background-color: #e6e6e6;
}

.user{
  color: #e6e6e6;
  display: flex;
  align-content: center;
}

.material-icons{
  margin-left: 10px;
}

.material-icons:hover{
  cursor: pointer;
}
