/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";



@media (min-width: 1200px) {
  .container{
    max-width: 1400px;
  }
}

@media(max-width: 992px) {
  h4 {
    font-size: medium;
  }

  table {
    font-size: x-small;
  }

  .container {
    font-size: small;
  }

  .mat-stroked-button {
    font-size: x-small;
  }
}


table {
  font-size: small;
  border-collapse: collapse;
  width: 100%;
}

.center_align {
  text-align: center;
}

th {
  text-align: left;
  padding: 8px;
}

td {
  text-align: left;
  //padding: 16px;
}

tr {
  background-color: #e6e6e6;
  height: 10px;
  overflow: hidden;
}

th {
  background-color: rgba(63, 81, 181, 0.6);
  color: white;
}
