<div class="notPrintableArea">
  <div class="container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Keresendő kifejezés</mat-label>
        <input [(ngModel)]="searchWord" matInput name="search">
      </mat-form-field>
    </form>
    <mat-grid-list (window:resize)="onResize($event)" [cols]="breakpoint" rowHeight="45px">
      <mat-grid-tile>
        <button (click)="searchForCourse('name')" [disabled]="!searchWord" color="primary" mat-stroked-button>Keresés
          tárgynévre
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button (click)="searchForCourse('code')" [disabled]="!searchWord" color="primary" mat-stroked-button>Keresés
          tárgykódra/azonosítóra
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button (click)="searchForCourse('teacher')" [disabled]="!searchWord" color="primary" mat-stroked-button>Keresés
          oktató
          nevére
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button (click)="searchForCourse('teacherCode')" [disabled]="!searchWord" color="primary" mat-stroked-button>
          Keresés oktató
          neptunkódjára
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <br>

    <div class="activeSemester">
      Aktív félév: {{activeSemester}}
      <br>
      Nézet:
      <mat-radio-group [(ngModel)]="view" aria-label="Nézet" color="primary">
        <mat-radio-button (click)="setCalendarView('1')" value="1">hallgató</mat-radio-button>
        <mat-radio-button (click)="setCalendarView('2')" value="2">oktató</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="container">
    <h5>
      Tervező
      <button (click)="closePanel('coursePlanner')" class="hideButton" color="primary" mat-stroked-button><i
        class="material-icons">
        {{coursePlannerButtonTitle ? 'remove' : 'add'}}
      </i></button>
    </h5>
    <div *ngIf="showCoursePlanner" class="coursePlanner">
      szűrés:
      <mat-button-toggle-group [disabled]="this.courseResults.length === 0" [(ngModel)]="filter" aria-label="Font Style"
                               name="fontStyle">
        <mat-button-toggle value="">összes</mat-button-toggle>
        <mat-button-toggle value="gyakorlat">gyakorlat</mat-button-toggle>
        <mat-button-toggle value="elõadás">előadás</mat-button-toggle>
        <mat-button-toggle *ngIf="this.view === '2'" value="elfoglaltság">elfoglaltság</mat-button-toggle>
      </mat-button-toggle-group>
      <div>
        <mat-slide-toggle [(ngModel)]="showZeroAdmin" *ngIf="this.view === '2'" color="primary"
                          [checked]="showZeroAdmin">0 %, adminisztrátor
        </mat-slide-toggle>
      </div>
      <table class="tableDiv">
        <tr>
          <th class="center_align">Hozzáad</th>
          <th>Kód</th>
          <th>Név</th>
          <th class="center_align">Kurzuskód</th>
          <th>Típus</th>
          <th class="center_align">Nap</th>
          <th class="center_align">Időpont</th>
          <th>Helyszín</th>
          <th>Tanár</th>
        </tr>
        <tr *ngFor="let course of courseResults | listFilter: filter: showZeroAdmin; let i = index"
            [class.activeRow]="course.selected" class="courseRow">
          <td (click)="setClickedRow(i, course)" class="addCourse"><i class="material-icons"
                                                                      matTooltip="Hozzáad">{{course.selected ? 'remove' : 'add'}}</i>
          </td>
          <td><i (click)="defaultService.copyToClipboard(course.code.toString())" *ngIf="!!course.code"
                 class="material-icons" matTooltip="Másolás">file_copy</i>{{course.code}}</td>
          <td><i (click)="defaultService.copyToClipboard(course.name.toString())" *ngIf="!!course.name"
                 class="material-icons" matTooltip="Másolás">file_copy</i>{{course.name}}</td>
          <td class="center_align">{{course.course_code}}</td>
          <td>{{course.type}}</td>
          <td class="center_align">{{course.day}}</td>
          <td class="center_align">{{course.hour}}</td>
          <td>{{course.location}}</td>
          <td><i (click)="defaultService.copyToClipboard(course.teacher.toString())" *ngIf="!!course.teacher"
                 class="material-icons" matTooltip="Másolás">file_copy</i>{{course.teacher}}</td>
        </tr>
      </table>
      <div *ngIf="courseResults.length === 0">
        A kurzuslista jelenleg üres. Keress rá egy kifejezésre!
      </div>
      <br>
      <mat-chip-list aria-label="Színek">
        Színek:
        <mat-chip style="background-color: #f3c39f">gyakorlat</mat-chip>
        <mat-chip style="background-color: #86c2c4">előadás</mat-chip>
        <mat-chip style="background-color: #c48383">elfoglaltság</mat-chip>
        <mat-chip style="background-color: #acacac">0% admin</mat-chip>
      </mat-chip-list>
      <br>
      <table class="courseTable">
        <tr>
          <th></th>
          <th class="center_align">Hétfő</th>
          <th class="center_align">Kedd</th>
          <th class="center_align">Szerda</th>
          <th class="center_align">Csütörtök</th>
          <th class="center_align">Péntek</th>
        </tr>
        <tr *ngFor="let rows of coursePlannerTable">
          <td *ngFor="let row of rows" class="courseTd">
            <div style="height:20px; overflow: visible;">
              <div *ngIf="!isArray(row); else elseBlock">
                <div *ngIf="row.split(':')[1] === '00'">
                  {{row}}
                </div>
              </div>
              <ng-template #elseBlock>
                <div *ngIf="row.length > 1; else oneCourse">
                  <table class="collisionTable">
                    <tr class="collisionTr">
                      <td *ngFor="let course of row" class="collisionTd">
                        <mat-card *ngIf="(showZeroAdmin || !course.zeroAdmin) && course.type.includes(filter)"
                                  [class.activeButton]="course.selected"
                                  [ngClass]="{
                                  'exercise' : course.type === 'gyakorlat' && !course.zeroAdmin,
                                  'lecture' : course.type === 'elõadás' && !course.zeroAdmin,
                                  'occupation' : course.type === 'elfoglaltság' && !course.zeroAdmin,
                              'sub-one' :   course.duration === 0.75,
                          'one-hour':   course.duration === 1,
                          'sub-two':    course.duration === 1.5,
                          'two-hours':  course.duration === 2,
                          'sub-three':  course.duration === 2.25,
                          'three-hours':course.duration === 3,
                          'four-hours':course.duration === 4,
                          'eight-hours':course.duration === 8,
                          'twelve-hours':course.duration === 12}"
                                  class="courseCollisionButton"
                                  [ngStyle]="{'position': 'relative', 'z-index': course.level}">
                          <div class="course_title">
                            #{{course.course_code}}  {{course.name}}
                          </div>
                          <div>
                            {{course.hour}}&nbsp;&nbsp;<br>{{course.teacher}}<br>{{course.location}}
                          </div>
                          <mat-card-actions>
                            <button (click)="selectCoursePlan(course)" mat-stroked-button>
                              <i class="material-icons" matTooltip="Hozzáad">{{course.selected ? 'remove' : 'add'}}</i>
                            </button>
                            <button
                              (click)="defaultService.copyToClipboard(course.code + ' ' +  course.name + ' ' + course.hour + ' ' + course.location)"
                              mat-stroked-button>
                              <i *ngIf="!!course.code" class="material-icons" matTooltip="Másolás">
                                file_copy
                              </i>
                            </button>
                          </mat-card-actions>
                        </mat-card>
                      </td>
                    </tr>
                  </table>
                </div>
                <ng-template #oneCourse>
                  <div *ngIf="row.length === 1">
                    <mat-card *ngIf="(showZeroAdmin || !row[0].zeroAdmin) && row[0].type.includes(filter)"
                              [class.activeButton]="row[0].selected"
                              [ngClass]="{
                              'exercise' : row[0].type === 'gyakorlat' && !row[0].zeroAdmin,
                              'lecture' : row[0].type === 'elõadás' && !row[0].zeroAdmin,
                              'occupation' : row[0].type === 'elfoglaltság' && !row[0].zeroAdmin,
                              'sub-one' :   row[0].duration === 0.75,
                              'one-hour':   row[0].duration === 1,
                              'sub-two':    row[0].duration === 1.5,
                              'two-hours':  row[0].duration === 2,
                              'sub-three':  row[0].duration === 2.25,
                              'three-hours':row[0].duration === 3,
                              'four-hours':row[0].duration === 4,
                              'eight-hours':row[0].duration === 8,
                              'twelve-hours':row[0].duration === 12}"
                              class="courseButton" [ngStyle]="{'position': 'relative', 'z-index': row[0].level}">
                      <div class="course_title">
                        #{{row[0].course_code}}  {{row[0].name}}
                      </div>
                      <div>
                        {{row[0].hour}}&nbsp;&nbsp;<br>{{row[0].teacher}}<br>{{row[0].location}}
                      </div>
                      <mat-card-actions>
                        <button (click)="selectCoursePlan(row[0])" mat-stroked-button matTooltip="Hozzáad">
                          <i class="material-icons">{{row[0].selected ? 'remove' : 'add'}}</i>
                        </button>
                        <button
                          (click)="defaultService.copyToClipboard(row[0].code + ' ' +  row[0].name + ' ' + row[0].hour + ' ' + row[0].teacher + ' ' + row[0].location)"
                          mat-stroked-button>
                          <i *ngIf="!!row[0].code" class="material-icons" matTooltip="Másolás">
                            file_copy
                          </i>
                        </button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </ng-template>
              </ng-template>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div class="container">
    <h5>
      Végleges
    </h5>
    <div class="timetableActions">
      Órarend exportálása:
      <button (click)="exportService.generateCsv(this.courseFinalTable)"
              [disabled]="courseFinalCount===0"
              mat-stroked-button>CSV
      </button>
      <button (click)="exportService.generateIcs(this.courseFinalTable)"
              [disabled]="courseFinalCount===0"
              mat-stroked-button>iCalendar
      </button>
      <button (click)="print()" [disabled]="courseFinalCount===0" mat-stroked-button>Print
      </button>
      <br>
      <button mat-stroked-button [disabled]="courseFinalCount===0" (click)="saveTimetable()">
        Órarend mentése
      </button>
      Utolsó mentés: {{ lastSaveTime }}
      <br>
      <button mat-stroked-button (click)="loadTimetable()">
        Órarend betöltése
      </button>
    </div>
    <table class="tableDiv">
      <tr>
        <th class="center_align">Töröl</th>
        <th>Kód</th>
        <th>Név</th>
        <th class="center_align">Kurzuskód</th>
        <th>Típus</th>
        <th class="center_align">Nap</th>
        <th class="center_align">Időpont</th>
        <th>Helyszín</th>
        <th>Tanár</th>
      </tr>
      <tr *ngFor="let course of finalCourses; let i = index"
          class="courseRow">
        <td (click)="deleteFinalCourse(course)" class="center_align"><i class="material-icons"
                                                                        matTooltip="Töröl">remove</i>
        </td>
        <td><i (click)="defaultService.copyToClipboard(course.code.toString())"
               *ngIf="!!course.code" class="material-icons"
               matTooltip="Másolás">file_copy</i>{{course.code}}
        </td>
        <td><i (click)="defaultService.copyToClipboard(course.name.toString())"
               *ngIf="!!course.name" class="material-icons"
               matTooltip="Másolás">file_copy</i>{{course.name}}
        </td>
        <td class="center_align">{{course.course_code}}</td>
        <td>{{course.type}}</td>
        <td class="center_align">{{course.day}}</td>
        <td class="center_align">{{course.hour}}</td>
        <td>{{course.location}}</td>
        <td><i (click)="defaultService.copyToClipboard(course.teacher.toString())"
               *ngIf="!!course.teacher" class="material-icons"
               matTooltip="Másolás">file_copy</i>{{course.teacher}}
        </td>
      </tr>
    </table>
    <div *ngIf="finalCourses.length === 0">
      A kurzuslista jelenleg üres. Válassz a kurzuslista tervezőből!
    </div>
  </div>
  <br>
</div>
<div class="printableArea">
  <div class="container">
    <mat-chip-list aria-label="Színek">
      Színek:
      <mat-chip style="background-color: #f3c39f">gyakorlat</mat-chip>
      <mat-chip style="background-color: #86c2c4">előadás</mat-chip>
      <mat-chip style="background-color: #c48383">elfoglaltság</mat-chip>
      <mat-chip style="background-color: #acacac">0% admin</mat-chip>
    </mat-chip-list>
    <br>
    <table class="courseTable">
      <tr>
        <th></th>
        <th class="center_align">Hétfő</th>
        <th class="center_align">Kedd</th>
        <th class="center_align">Szerda</th>
        <th class="center_align">Csütörtök</th>
        <th class="center_align">Péntek</th>
      </tr>
      <tr *ngFor="let rows of courseFinalTable">
        <td *ngFor="let row of rows" class="courseTd">
          <div style="height:20px; overflow: visible;">
            <div *ngIf="!isArray(row); else elseBlock">
              <div *ngIf="row.split(':')[1] === '00'">
                {{row}}
              </div>
            </div>
            <ng-template #elseBlock>
              <div *ngIf="row.length > 1; else oneCourse">
                <table class="collisionTable">
                  <tr class="collisionTr">
                    <td *ngFor="let course of row" class="collisionTd">
                      <mat-card *ngIf="!course.hide"
                                [ngClass]="{
                                'exercise' : course.type === 'gyakorlat' && !course.zeroAdmin,
                                  'lecture' : course.type === 'elõadás' && !course.zeroAdmin,
                                  'occupation' : course.type === 'elfoglaltság' && !course.zeroAdmin,
                          'sub-one' :   course.duration === 0.75,
                          'one-hour':   course.duration === 1,
                          'sub-two':    course.duration === 1.5,
                          'two-hours':  course.duration === 2,
                          'sub-three':  course.duration === 2.25,
                          'three-hours':course.duration === 3,
                          'four-hours':course.duration === 4,
                          'eight-hours':course.duration === 8,
                          'twelve-hours':course.duration === 12}"
                                class="courseCollisionButton">
                        <div class="course_title">
                          #{{course.course_code}}  {{course.name}}
                        </div>
                        <div>
                          {{course.hour}}&nbsp;<br>{{course.teacher}}<br>{{course.location}}
                        </div>
                        <div class="notPrintableArea">
                          <mat-card-actions>
                            <button (click)="deleteFinalCourse(course)" mat-stroked-button matTooltip="Töröl">
                              <i class="material-icons">remove</i>
                            </button>
                            <button
                              (click)="defaultService.copyToClipboard(course.code + ' ' +  course.name + ' ' + course.hour + ' ' + course.teacher + ' ' + course.location)"
                              mat-stroked-button>
                              <i *ngIf="!!course.code" class="material-icons" matTooltip="Másolás">
                                file_copy
                              </i>
                            </button>
                          </mat-card-actions>
                        </div>
                      </mat-card>
                    </td>
                  </tr>
                </table>
              </div>
              <ng-template #oneCourse>
                <div *ngIf="row.length === 1">
                  <mat-card *ngIf="!row[0].hide"
                            [ngClass]="{
                            'exercise' : row[0].type === 'gyakorlat' && !row[0].zeroAdmin,
                                  'lecture' : row[0].type === 'elõadás' && !row[0].zeroAdmin,
                                  'occupation' : row[0].type === 'elfoglaltság' && !row[0].zeroAdmin,
                          'sub-one' :   row[0].duration === 0.75,
                          'one-hour':   row[0].duration === 1,
                          'sub-two':    row[0].duration === 1.5,
                          'two-hours':  row[0].duration === 2,
                          'sub-three':  row[0].duration === 2.25,
                          'three-hours':row[0].duration === 3,
                          'four-hours':row[0].duration === 4,
                          'eight-hours':row[0].duration === 8,
                          'twelve-hours':row[0].duration === 12}"
                            class="courseButton">
                    <div class="course_title">
                      #{{row[0].course_code}}  {{row[0].name}}
                    </div>
                    <div>
                      {{row[0].hour}}&nbsp;&nbsp;<br>{{row[0].teacher}}<br>{{row[0].location}}
                    </div>
                    <div class="notPrintableArea">
                      <mat-card-actions>
                        <button (click)="deleteFinalCourse(row[0])" mat-stroked-button matTooltip="Törlés">
                          <i class="material-icons">remove</i>
                        </button>
                        <button
                          (click)="defaultService.copyToClipboard(row[0].code + ' ' +  row[0].name + ' ' + row[0].hour + ' ' + row[0].teacher + ' ' + row[0].location)"
                          mat-stroked-button>
                          <i *ngIf="!!row[0].code" class="material-icons" matTooltip="Másolás">
                            file_copy
                          </i>
                        </button>
                      </mat-card-actions>
                    </div>
                  </mat-card>
                </div>
              </ng-template>
            </ng-template>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
