mat-form-field {
  width: 100%;
}

.addCourse{
  width: 1em;
  text-align: center;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 10px;
}

.radio-button-label{
  margin-bottom: 5px;
}

.activeSemester{
  font-size: small;
  padding-bottom: 10px;
}

.addCourse:hover{
  cursor: pointer;
}

tr.activeRow {
  background-color: #b1b1b1 !important;
  color: white;
}

mat-card.activeButton {
  border: 3px dotted black;
}

.material-icons{
  color: rgb(78, 78, 78);
  font-size: large;
  //padding-left: 20px;
}

.material-icons:hover {
  cursor: pointer;
}

.mat-card-footer{
  margin-left: 40px;
}

.panel_header {
  background-color: rgba(128, 128, 128, 0.36) !important;
}

.panel_body {
  background-color: #d8d8d8;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

.hideButton {
  color: #212529;
  min-width: 1% !important;
}

.hourCol {
  width: 100px;
  text-align: center;
}

.courseCard {
  position: absolute;
  height: 40%;
  width: 60%;
}

.courseButton {
  padding: 0;
  background: #acacac;

  white-space: pre-wrap !important;
  text-align: center;
  line-height: 1.6;
  text-overflow: ellipsis;
  overflow: hidden;
}

.courseButton:hover {
  position: relative;
  z-index: 100 !important;
  height: 300px;
}

.courseCollisionButton {
  padding: 0;
  background: #acacac;
  white-space: pre-wrap !important;
  text-align: center;
  line-height: 1.6;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.courseCollisionButton:hover {
  position: relative;
  z-index: 100 !important;
  max-width: unset !important;
  height: 300px;
  width: 300px;
}

.mat-stroked-button{
  min-width: 1% !important;
}

.course_title {
  text-overflow: ellipsis;
  max-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(63, 81, 181, 0.6);
}

.timetableActions{
  padding-bottom: 5px;
  padding-right: 10px;
}

$sub-one: 62.25px;
$one-hour: 83px;
$sub-two: 126px;
$two-hours: 168px;
$sub-three: 190px;
$three-hours: 255px;
$four-hours: 339px;
$eight-hours: 678px;
$twelve-hours: 1018px;
.sub-one {
  height: $sub-one;
}
.one-hour {
  height: $one-hour;
}
.sub-two {
  height: $sub-two;
}
.two-hours {
  height: $two-hours;
}
.sub-three {
  height: $sub-three;
}
.three-hours {
  height: $three-hours;
}
.four-hours {
  height: $four-hours;
}
.eight-hours {
  height: $eight-hours;
}
.twelve-hours {
  height: $twelve-hours;
}

.exercise {
  background-color: #f3c39f;
}

.lecture {
  background-color: #86c2c4;
}

.occupation {
  background-color: #c48383;
}

.mat-slide-toggle{
  padding-right: 15px;
}

@media(max-width: 992px) {
  .courseButton:hover, .courseCollisionButton:hover {
    height: 25em;
  }

  .coursePlanner, .tableDiv, .courseTable, .courseButton, .courseCollisionButton{
    font-size: x-small;

  }

  .coursePlanner, .tableDiv, .courseTable{
    width: 100vw;
  }

  //.tableDiv td, .mat-card {
  //  font-size: x-small;
  //}

  .mat-stroked-button{
    padding: 0;
    min-width: 1% !important;
  }
}

.tableDiv td{
  border-bottom: 1px solid #9b9b9b;
}

.courseTd {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  width: 300px;
  align-content: center;
}

.courseTd:nth-child(1) {
  text-align: center;
  width: 50px;
}

.courseTable tr:nth-child(4n+1) {
  border-bottom: 1px solid #9b9b9b;
}

.courseTable {
  width: 100%;
}

.collisionTd {
  vertical-align: top;
  text-align: left;
  border: none !important;
  padding: 0;
  max-width: 50px;
}

.collisionTr {
  border: none !important;
}

.collisionTable, .collisionTr, .collisionTd {
  margin: 0;
  padding: 0;
  border: none !important;
}

@media print{

  .notPrintableArea{
    display: none;
  }

  .courseCollisionButton, .courseButton{
    font-size: xx-small;
    border: 2px solid black;
  }

  .printableArea{
    display: block;
  }
}
